body{
    background-image: url(https://media.istockphoto.com/id/1036815628/photo/cook-taking-ready-chicken-from-the-oven.webp?b=1&s=170667a&w=0&k=20&c=Q2GS6K8GLC7Xo66QuXTWnfEXs-_BzP552VKjvnP17Mk=);
     

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}
.main{
    height: 100%;
    width: 100%;
    

}
.cursor{
    background-color:cornsilk;
    border-radius: 80%;
    height: 20px;
    width: 20px;
    position: absolute;
transition: all linear 0.2s;
mix-blend-mode: difference;
opacity: 0.9;

}
* ::selection {
    background-color: #fff;
    color: red;

}
.html{
    scroll-behavior:smooth;
}
    
    
    .nav {
    height: 15vh;
    width: 100%;
    background-color:transparent ;
    
    display: flex;

    color:black;

}


.logo{
    height: 10vh;
    width: 6vw;
    margin-left: 60px;
  cursor: pointer;
}
.logo img{
    object-fit: cover;
    height: 15vh;
    border-radius: 10px;
    
    
}
.item{
    height: 15vh;
    width: 50vw;

    display: flex;
    margin: auto;
    text-align: center;


    
}
.item h4{
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
    justify-content: center;
    margin: auto;

   
}
.item h4 a{
    color:white;
    text-decoration: none;
}
.item h4 a:hover{
    color:black;
    background-color:white;
    border-radius: 10px;
    border: 2px solid red;
    
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 600px;
    
    
}
#home h1::before{
    content:"Welcome to my online meal";
    position: absolute;
    color: black;
    top:-2px;
    left:-5px;
    -webkit-text-stroke: 3px red; 
    z-index: -1;
    

}
#home h1{
    font-size:6.5rem;
    font-weight: 900;
    text-align: center;
    color:black;
    position: relative;
}
#home p{
    font-size: 1.8rem;
    font-weight: 500;

    text-align: center;
    color:white;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: auto;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}

.btn:hover{
    background-color: grey;
    color:black;
}
.header{
    height: 15vh;
    width: 100%;
    
}
.header h1{
    text-align: center;
    padding: 30px;
    font-weight: 900;
    font-size: 50px;
    color: white;
}
#services{

    
    height:60vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.card{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color:rgba(119, 136, 153, 0.566);
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in 0.5s;

    
}
.card:hover{
    background-color:red;
    transform: rotate3d(-2,1,0,30deg);
}
.card img{
    height: 145px;
    width: 300px;
    margin: auto;
    display: block;
    border-radius: 20px;
}
.card h2{
    font-size:2.3rem ;

}

.client{
    height:40x;

}
.client h1{

text-align: center;
    padding: 30px;
    font-weight: 900;
    font-size: 50px;
    color: white;
}
#partner{
    height:40vh;
    width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
    transition: all ease-in 0.5s;
}



#partner img{
    height: 140px;
    
    margin: auto;
    border-radius: 20px;

}
#partner:hover {
    
    transform: rotate3d(-2,1,0,3deg);
}

.contact h1{

    text-align: center;
        padding: 10px;
        font-weight: 900;
        font-size: 50px;
        color: white;
        
    }
    #contact-box{
        height:50vh ;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        margin: auto;
        border-radius: 9px;

    
        position: relative;
    }
    #contact-box::before{
        content: "";
        width: 100%;

        background-image: url(https://media.istockphoto.com/id/609801866/photo/contact-us.webp?b=1&s=170667a&w=0&k=20&c=XZeY7IRasbFtSTRwT11PxxxNs6w_0Rh4Bn4Ra-RDmyU=);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    }

    .form{ 
        flex-direction: column;
        display: flex;
        width: 40%;
    
        margin: auto;
        border-radius: px;
        padding: 0.5rem;
        font-size: 1.3rem;

    
    }
    .center{
        background-color: black;
        color: white;
        padding: 9px 20px;
    
        text-align: center;

    }





 @media (max-width:1155px) {
    .logo img{
        flex-direction: column;
    
    
        margin: auto;
    }
    .nav{
        flex-direction: column;

    }
    #home{
        height: 600px;
        padding: 50px 68px;
        margin-left:30px ;
        margin-top: 70px;
        
    }
    #home p{
        font-size: 16px;
        margin-top: 10px;


    }
    .item h4 a{
        font-size: 0.999rem;
        padding: 0px 10px;
        padding-bottom: 8px;
        
        
    }
    .header{
        margin-bottom: 500px;
    
    height:30vh;
    width:100% ;
    margin: auto;
    
    

        
text-align: center;
        margin-top: 300px;
        justify-content: center;
    }
    
    
    #services{
        display: flex;
        flex-direction: column;
        margin-bottom: 800px;
        
        height:200vh;
        margin-bottom: 60px;
        justify-content: center;
    

        
    }
     #card{ padding: 14px;
        padding-bottom: 50px;
    
        border-radius: 18px;
    
        margin-bottom: 100px;
        height:60vh;
        justify-content: center;
        margin-left: 30px;
        margin-top: 30px;
    
        
    
        

    }
    #card img{
        height: 80px;
        width:200px ;
        

    }
    #card h2{font-size: 1.5rem;
    


    }
    #card p{
        font-size: 13 px ;
        text-align: left ;

    }

    
    #partner{
        overflow: hidden;
        margin-top: 60px;
    }

.btn{
    font-size: 25px;
    padding: 4px 8px;
    margin-top: 60px;
}
#client{
    margin-top: 60px;



    
}

 }
        
